@font-face {
    font-family: "ND Astroner";
    src: url(../fonts/17885.ttf)
}

.navbar-brand {
    font-family: "ND Astroner";
}

.our-service {
    padding: 75px 0;
}

.hero__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 2;
}

.card {
    margin: 2px 0;
}

#typed {
    color: #d32f2f;
    font-weight: bold;
    text-transform: uppercase;
}

.contact-us__links li a {
    text-decoration: none;
    color:  black !important;
}

li {
    list-style-type: none;
}

.form-group {
    margin-top: 10px;
}

footer {
    
}